<mat-toolbar color="primary">
  <label>Veículos</label>
</mat-toolbar>

<div class="content vehicle-list">
  <div class="row">
    <div class="col">
      <button mat-button mat-flat-button class="sys-button" color="primary" (click)="createVehicle()">
        <i class="fa-solid fa-plus"></i>
        <label>Cadastrar Veículo</label>
      </button>
    </div>

    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <mat-form-field>
        <mat-label>
          <i class="fa-solid fa-search"></i>
          Pesquisar...
        </mat-label>
        <input matInput type="text" [formControl]="search" />
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="mat-elevation-z8">
        <mat-table #vehicleTable [dataSource]="dataSource" class="vehicle-table" aria-describedby="vehicle-table">
          <ng-container *ngFor="let col of columnsToDisplay; let i = index" [matColumnDef]="col">
            <ng-container *ngIf="col !== 'actions'; else actionsCol">
              <mat-header-cell *matHeaderCellDef>{{ columnsName[i] }}</mat-header-cell>
              <mat-cell *matCellDef="let car">
                {{
                (col === 'createdOn' || col === 'lastUpdated')? (car?.[col] | date: 'dd/MM/yyyy HH:mm:ss') :
                car?.[col]}}
              </mat-cell>
            </ng-container>

            <ng-template #actionsCol>
              <mat-header-cell *matHeaderCellDef>{{ columnsName[0] }}</mat-header-cell>
              <mat-cell *matCellDef="let car; let icar = index">
                <button (click)="editVehicle(car, icar)" mat-icon-button color="accent">
                  <i class="fa-solid fa-edit"></i>
                </button>

                <button (click)="removeVehicle(car, icar)" mat-icon-button color="warn">
                  <i class="fa-solid fa-trash"></i>
                </button>
              </mat-cell>
            </ng-template>

          </ng-container>

          <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
          <mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></mat-row>

          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell empty-row" [colSpan]="columnsToDisplay.length">
              Não há veículos cadastrados.
            </td>
          </tr>
        </mat-table>
      </div>
    </div>
  </div>

</div>
